<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYMEPRO</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<head>
    <section id="servicio" class="service">
        <h2>Nuestro Servicio de Consultoría Financiera y Contable</h2>
        <p>Ofrecemos soluciones integrales diseñadas específicamente para las necesidades de las pequeñas empresas. Nuestro equipo de expertos te ayudará a tomar decisiones financieras informadas y a mantener tus registros contables al día.</p>
        <ul>
            <li><strong>Análisis Financiero:</strong> Evaluación de tu situación financiera actual y proyecciones futuras.</li>
            <li><strong>Planificación Financiera:</strong> Desarrollo de estrategias para alcanzar tus objetivos a corto y largo plazo.</li>
            <li><strong>Gestión de Flujo de Caja:</strong> Optimización de la entrada y salida de efectivo para asegurar la liquidez de tu negocio.</li>
            <li><strong>Contabilidad y Cumplimiento:</strong> Llevanza de libros contables, preparación de informes y cumplimiento de obligaciones fiscales.</li>
            <li><strong>Asesoramiento en Inversiones:</strong> Orientación para tomar decisiones de inversión inteligentes.</li>
            <li><strong>Optimización de Costos:</strong> Identificación de áreas donde se pueden reducir gastos sin sacrificar la calidad.</li>
        </ul>
        <div class="service-image">
            <img src="https://marlucconsultores.cl/wp-content/uploads/2022/07/SERVICIOS-DE-CONTABILIDAD.jpg" alt="Servicios Contables">
        </div>
    </section>